<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/Content/bootstrap.css" />
    <include path="~/Content/bootstrap-tokenfield/tokenfield-typeahead.css" />
    <include path="~/Content/bootstrap-tokenfield/bootstrap-tokenfield.css" />
    <include path="~/Content/Site.css" />
    <include path="~/Content/drawer.css" />
    <include path="~/Content/Messenger.css"/>
  </styleBundle>
</bundles>