

.text-right{
    text-align:right;
}

.navbar.bottom .navbar-text {
    margin-right: 15px;
    margin-left: 15px;
}

.navbar.bottom.navbar-fixed-bottom {
}

.img-responsive{
    display: initial;
}

.tab-pane {

    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 0px 0px 5px 5px;
    padding: 10px;
    background-color:#ffffff;
}

.nav-tabs {
    margin-bottom: 0;
}

.margin-bottom-20-px {
    margin-bottom: 20px;
}

.margin-bottom-10-px {
    margin-bottom: 10px;
}

.margin-bottom-5-px {
    margin-bottom: 5px;
}

a .glyphicon {
    margin-right:5px;
}



body, #outer-wrap, #inner-wrap {
    height: 100%;
}

#inner-wrap {
    min-height: 100vh;
}

.navbar-footer {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    border: 1px solid transparent;
}

.padding-15 {
    padding: 15px;
}

.navbar {
    border-radius: 0px !important;
}



    .footer > footer {
        padding:15px;
        background-color: #333333;
        color: #ccc;
    }

    .footer > footer a {
        color: #ccc;
        text-decoration: underline;
    }
    .footer > footer a:hover {
        color: #ccc;
        text-decoration: none;
    }




/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
#main, .main {
  margin-bottom: 75px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  left:0;
}