/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}


.text-right{
    text-align:right;
}

.navbar.bottom .navbar-text {
    margin-right: 15px;
    margin-left: 15px;
}

.navbar.bottom.navbar-fixed-bottom {
}

.img-responsive{
    display: initial;
}

.tab-pane {

    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 0px 0px 5px 5px;
    padding: 10px;
    background-color:#ffffff;
}

.nav-tabs {
    margin-bottom: 0;
}

.margin-bottom-20-px {
    margin-bottom: 20px;
}

.margin-bottom-10-px {
    margin-bottom: 10px;
}

.margin-bottom-5-px {
    margin-bottom: 5px;
}